*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #f5f5db;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    height: 10vh;
}
h1{
    color: rgb(4, 70, 4);
    font-family: "Lora", serif;
}
.subtitle{
    font-size: 16px;
    color:rgb(3, 102, 3);
    margin-top: 0x;
    font-weight: 400;
    display: flex;
    justify-content: end;
    
}
.text-block{
    display: flex;
    flex-direction: column;
    
}
.logo-pic{
    display: flex;
    align-items: center;
}
ul{
    display: none;
    column-gap: 2vw;
    list-style: none;
    color:rgb(100, 99, 99)
}
.burger-menu{
    display: block;
}
.lume-img{
    background-color: rgb(2, 36, 2);
    height: 70vh;
    background-image: url(https://i.pinimg.com/1200x/7c/6d/26/7c6d268eb5facd3a01d6c55abc83c8b2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.slogan{
    color: #f5f5db;
    position: absolute;
    bottom: 120px;
    left: 120px;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.slogan > p{
    font-size: 14px;
    height: 40px;
}
.slogan > h4{
    font-size: 342x;
}
.sections-container{
    background-color:rgb(2, 36, 2); 
    display: flex;
    justify-content: center;
    column-gap: 24px;
    position: relative;
    bottom: 70px;
}
.sections-container > section{
    background-color: #d3d3af;
    width: 25vw;
    padding: 8px 8px 24px 8px;
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}
.section-two{
    position: relative;
    top: 25px;
}
.section-three{
    position: relative;
    top: 50px;
}
.section-img{
    width: 100%;
}
.title-h5{
    color: rgb(114, 6, 6);
}
button{
   background-color:rgb(4, 70, 4)  ;
   color: aliceblue;
   font-size: medium;
}
.highlights{
    color:rgb(114, 6, 6);
    display: flex;
    flex-direction:column;
    padding-left: 100px;
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.list{
    color:rgb(114, 6, 6) ;
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    list-style-type: disc;
    padding-bottom: 40px;
}

main{
    background-color: #f5f5db;
}
footer{
    background-color: rgb(204, 195, 195);
    height: 60px;
}
.footer{
    color: rgb(93, 92, 92);
    display: flex;
    flex-direction: row;

}
@media (min-width: 768px){
    ul{
        display: flex;
    }
    .burger-menu{
        display: none;
    }
}
@media (max-width :768px){
    .sections-container{
        flex-direction: column;
        align-items: center;
    }
    .sections-container >section { 
    width: 80vw;
    }
    .highlights{
        flex-direction: row;
        justify-content: center;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
}