.title {
    color: rgb(238, 154, 196);

}

#navigation{
    background-color: antiquewhite;
}
header > input {
    background-color: rgb(238, 154, 196);;
}
input:hover {
    background-color: white;
}

header, main, footer {
    border: 2px solid bisque;
}
.paragraph {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 20px;
    font-weight: 500;
    font-size: large;
    text-align: left;

}
footer{
    background-color: rgb(252, 210, 217);
}

   